/* Add application styles & imports to this file! */

body {
      font-size: 9pt;
}

.media-content {
    text-align: right;
}

.textarea {
    font-size: 9pt;
    font-weight: 600;
}

.control {
    font-size: 9pt;
}